:root {
    --black: #212121;
    --orange: #E67514;
    --white: #ffffff;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: var(--black);
    color: var(--white);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--orange);
    text-decoration: none;
    flex-wrap: wrap;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.logo a {
    color: var(--black);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 22px;
}


.navL {
    text-decoration: none;
    display: flex;
    font-style: none;
    justify-content: space-between;
    align-items: center;
}

.navL a {
    text-decoration: none;
    color: var(--black);
    padding: 0 10px;
    transition: 0.5S;

}
.navL button{
    background-color: var(--black);
    padding: 5px 10px;
    color: var(--wihte);
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    
}
.navL button:hover{
    transform: scale(1.1);
    background-color: var(--green);
    cursor: pointer;
}
.navL a:hover {
    transform: scale(1.1);
    color: var(--wihte);
}

.navL i{
    transition: 0.5S;
    color: var(--black);
}
.navL  i:hover{
    color: var(--wihte);
    transform: scale(1.1);
    cursor: pointer;
}

.profileI{
    display: none;
}

.checkout-container{
    padding: 50px;
}

h1{
    margin-bottom:40px;
    color:var(--orange);
}


input::-webkit-inner-spin-button{
    display: none;
}
.checkout-layout{
    display:flex;
    gap:40px;
}


.checkout-form{
    flex:2;
    background:#1a1a1a;
    padding:30px;
    border-radius:20px;
}

.checkout-form h2{
    margin-bottom:20px;
}

.input-group{
    margin-bottom:20px;
    display:flex;
    flex-direction:column;
}

.input-group label{
    margin-bottom:8px;
    font-size:14px;
    opacity:0.8;
}

.input-group input,
.input-group select{
    padding:12px;
    border:none;
    border-radius:10px;
    background:#2a2a2a;
    color:white;
    outline:none;
}

.input-group input:focus,
.input-group select:focus{
    border:1px solid var(--orange);
}

.input-group small{
    color: red;
}

.input-row{
    display:flex;
    gap:20px;
}

/* Summary */

.checkout-summary{
    flex:1;
    background:#1a1a1a;
    padding:30px;
    border-radius:20px;
    height:fit-content;
}

.summary-item,
.summary-total{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
}

.summary-total{
    font-weight:bold;
    font-size:18px;
    color:var(--orange);
}

.place-order{
    margin-top:20px;
    width:100%;
    padding:12px;
    border:none;
    border-radius:30px;
    background:var(--orange);
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.place-order:hover{
    transform:scale(1.05);
}